<div style="text-align:center">
  <h1>TRAFFICAR</h1>
</div>

<mat-toolbar color="primary" class="mat-elevation-z10">
  <button mat-button routerLink="/allBoxes">Show boxes</button>
  <button mat-button>About</button>

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <button mat-button (click)="signIn()" *ngIf="!authenticated">Sign In</button>
      <button mat-button (click)="signOut()" *ngIf="authenticated">Sign Out</button>
      <p *ngIf="authenticated">Hello, {{getProfile().name}}</p>
</mat-toolbar>

<router-outlet></router-outlet>


